<configuration debug="false" scan="true" scanPeriod="30 seconds">
	<appender name="static-appender" class="hu.gyengus.thermometerservice.StaticAppender">
	</appender>
	<root level="error">
		<appender-ref ref="static-appender" />
	</root>
    <logger name="org.springframework" level="trace" />
</configuration>
